body{
    background: #111;
}

canvas{
    width: 100vmin;
    height: 100vmin;

    background-color: #000;
    
    margin: auto;
    position: fixed;

    top: 0;  
    left: 0;
    right: 0;
    bottom: 0; 
}